@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #e11d48;
  margin: 0;
}

.rdp-day_selected:not([disabled]) {
  background-color: var(--rdp-accent-color);
}